.games{
    background-image: url(Imagini/games.jpg);


}

.card{
    border:2px solid gray;
    margin: 20px;
    padding: 20px;
    background-color: rgba(70, 67, 68, 0.37)
    
}

.imagine{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    color:white;
}

.card-text{
    color:white
}

.card-body{
    background-color: rgba(23, 22, 22, 0.37);
}

body{
    background-color: rgba(5, 18, 79, 0.82);
}

